[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mathutils = "2.81.2"
pytest = "7.1"

[dev-packages]
mypy = "*"
bpy-stubs = { editable = true, path = "./bpy-stubs/" }

[requires]
python_version = "3.8"

