[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mathutils = "3.3.0"
pytest = "7.1"
pytest-order = "1.0"

[dev-packages]
mypy = "*"
bpy-stubs = { editable = true, path = "./bpy-stubs/" }

[requires]
python_version = "3.11"

