[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mypy = "*"
bpy-stubs = {editable=true,path = "./bpy-stubs/"}

[requires]
python_version = "3.10"

